body{
    padding: 0;
    margin: 0;
    background: #fffff8;
    background-image: url("img/b2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height:100vh;

    font-family:  Arial, Helvetica, sans-serif;
    color: #3B4A6B;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin-top: -31px;

}

.holder{
   display: grid;
   width: 550px;
}

.entry{
    background: rgba(59, 74, 107, .4);
    margin-top: -5px;
    margin-bottom: 20px;
    text-align: center;
    padding-left: 7px;
    padding-bottom: 5px;
    color: #fff;
    position: relative;
}




#entryHolder{
    font-size: larger;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
}
#city{
    align-self: baseline;
    position: relative;
    left: 30px;
}

#date{
    align-self: flex-start;
    font-size: 12pt;
    position: relative;
    left: 30px;
}

#temp{
    align-self: flex-end;
    position: relative;
    bottom: 133px;
    right: 89px;
    font-size: 62pt;
}
#content{
    position: absolute;
    bottom: 128px;
    align-self: center;
    bottom: 10%;
} 
#icon{
   
    display: none;
    width: 116px;
    align-self: self-start;
    position: relative;
    left: 43px;
    bottom: 3px;
   
}
.headline {
    margin-top: 50px; 
    color:#3B4A6B;
    font-size: 42pt;
    text-align: center;
    margin-top: 68px;
}
.title{
    text-align: center;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}


input{
    display:block;
    height: 60px;
    width: 320px;
    background:#22B2DA;
    color: #3b4a6b;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 200px;
    height: 60px;
    margin-top: 15px;
    background: #3b4a6b;
    color: #22B2DA;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #3b4a6b;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    height: 70px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #3b4a6b; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 


label.zipholder{
    margin-bottom: -40px
}
.feel {
    margin-top: -50px;
}
.inputzip{
    margin-top: -10px;
    padding-top: 0%;
}
 #error{
    text-align: center;
    margin-top: -40px;
    font-size: larger;
    position: relative;
    top: 6px;
    
} 